*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image:url("../img/fondo-textura-papel-arrugado-blanco-cerca_99266-694.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-style: italic;
}

#description{
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1rem;
}

#survey-form{
    background-color: #D3D3D3;
    opacity: 0.7;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50rem;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    border-radius: 5%;
}

#name-label{
    margin-bottom: 0.3rem;
}

#name{
    width: 45rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#email-label{
    margin-bottom: 0.3rem;
}

#email{
    width: 45rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#number-label{
    margin-bottom: 0.3rem;
}

#number{
    width: 45rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#dropdown-a{
    margin-bottom: 0.3rem;
}

#dropdown{
    width: 45rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.decision{
    margin-bottom: 0.3rem;
}

#decision{
    margin-bottom: 0.25rem;
}

.eleccion{
    margin-bottom: 0.3rem;
}

#eleccion{
    margin-bottom: 0.25rem;
}

.comentario{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

#comentario{
    width: 45rem;
    height: 4.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.botones{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-left: 16rem;
   margin-bottom: 1rem;
}

#submit{
    width: 5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
    background-color: green;
    color: honeydew;
}

#reset{
    width: 5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color:orangered;
    color: honeydew;
}

.pie{
    margin-top: 1rem;
    margin-bottom: 1rem;
}