* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #202020;
}

a {
  text-decoration: none;
}

/*Encabezado de la pagina*/
#navbar {
  height: 5rem;
  background-color: #202020;
  color: white;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}

#navbar ul li {
  margin-right: 2rem;
  list-style-type: none;
}

#welcome-section {
  background-color: #202020;
  color: white;
  height: 50rem;
}

#welcome-section h1 {
  padding-top: 13rem;
  text-align: center;
  font-size: 5rem;
}

#welcome-section h2 {
  text-align: center;
  font-size: 2.5rem;
}

#welcome-section p {
  text-align: center;
  font-size: 1.2rem;
}

#welcome-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-left: 42rem;
}

#welcome-section div img {
  width: 4rem;
  border-radius: 30%;
}

#sub-projects {
  color: white;
  text-align: center;
  height: 1rem;
  width: 22rem;
  padding: 3.8rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 40rem;
  margin-bottom: 4rem;
  border-bottom: 0.2rem solid white;
  background-color: #202020;
}

#projects {
  width: 100%;
  height: 70rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

#projects #pags {
  display: block;
  width: 31rem;
  height: 25rem;
  border-radius: 0.5rem;
}

#projects .project-tile {
  background-color: #fff7f7;
  height: 28rem;
  width: 31rem;
  border-radius: 0.5rem;
}

#projects .project-tile p {
  background-color: #fffefe;
  color: black;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}

#projects .project-tile p .code {
  background-color: white;
  color: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#projects p:hover .code {
  color: black;
}

#sub-contacts {
  color: white;
  text-align: center;
  height: 1rem;
  width: 50rem;
  padding: 3.8rem;
  font-size: 4rem;
  font-weight: bold;
  margin-left: 30rem;
  margin-bottom: 4rem;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 22rem;
}

.networks img {
  display: block;
  width: 2rem;
  margin-left: 2rem;
}

.networks span {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */